li {
  padding: 8px;
}

#twitchMessage {
  list-style: none;
  padding-left: 0;
  color: purple;
}

li#twitchMessage::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  background-image: url(./assets/twitch-brands.svg);
  background-size: cover;
  background-position: center;
}

#volumeMessage {
  list-style: none;
  padding-left: 0;
  color: orange;
  /* this preserves spaces!! */
  white-space: pre-wrap;
}

li#volumeMessage {
  top: 0%;
  display: flex;
}

li#volumeMessage::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  background-image: url(./assets/volumeLogo.jpeg);
  background-size: cover;
}

.username {
  font-weight: bolder !important;
}

/* Start New Chat Overlay */
