li {
  padding: 5px;
}

#messageListTwitch {
  list-style: none;
  padding-left: 0;
}

#messageListTwitch li {
  position: relative;
  padding-left: 20px;
}

#messageListTwitch li:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url(./assets/twitch-brands.svg);
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.messageListVolume {
  list-style-image: url(./assets/volumeLogo.jpeg);
  /* list-style: none; */
  padding-left: 0;
}

.messageListVolume li {
  position: relative;
  padding-left: 20px;
}

.messageListVolume li:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url(./assets/volumeLogo.jpeg);
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
